.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 609px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 450px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
}

.modal-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #fff;
    fill: var(--link-buttom-color);
  }
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  border: #2196f3;
  margin: 0 auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
label {
  display: block;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.form-box {
  margin-bottom: 10px;
}
.form-box-coment {
  margin-bottom: 20px;
}
.modal-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: 1px solid var(--link-buttom-color);
  }
  &:focus + .modal-icon {
    fill: var(--link-buttom-color);
  }
}
.modal-text {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-input {
  position: relative;
}
.modal-icon-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-coment {
  display: block;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-coment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.button-box {
  display: flex;
}
.checkbox-title {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
}
.checkbox-title > span {
  background-image: url(../images/logo/icon-check-box.svg);
  width: 16px;
  height: 15px;
  display: flex;
  margin-right: 8.38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  width: 16px;
  height: 15px;
  fill: transparent;
}
.check-modal:checked + .checkbox-title > span {
  background-color: var(--link-buttom-color);
  background-image: url(none);
  border-radius: 3px;
}
.check-modal:checked + .checkbox-title .check-icon {
  fill: #ffffff;
}
.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
