body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    color:var(--title-text) ;
}

:root{
    
    --background-color:#FFFFFF; ;
    --section-jobs:  #F5F5F5;
    --section-team:  #F5F4FA; ;
    --title-text: #212121 ;
    --text-secondary: #757575; 
    --link-buttom-color: #2196F3;
    --side-distance: 30px;
    --top-distance: 94px;
}

 p, h1, h2, h3, h4, h5, h6{
        margin: 0;
}
ul{
    margin: 0;
    padding: 0;
} 
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}
.container{
   margin: 0 auto;
    width: 1200px ;
    padding-left: 15px;
    padding-right: 15px;

}

.section{
    display: block;
    padding-top: var(--top-distance);
    padding-bottom: var(--top-distance);
}
.visually-hidden{
    position: absolute;
    white-space:nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*-----------------------Header--------------------------------*/

.addres-icon {
    fill: currentColor;
    margin-right: 10px;
}


.logo-text{
color: #000000;

}
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;
color: var(--link-buttom-color)
}
.header-mail,.header-tell{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: var(--text-secondary)
}
.contact-item :focus{
   color: var(--link-buttom-color);
}
.contact-item :hover{
    color: var(--link-buttom-color);

}
.header-link:hover{
 color: var(--link-buttom-color);
}
.header-link:focus{
 color: var(--link-buttom-color);
}
.list{
     list-style: none;
}
.link{
    text-decoration: none;
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list{
    display: flex;
}
.header-contact{
    display: flex;
    margin-left: 318px;
}
.item-nav + .item-nav{
    margin-left: 50px;
}
 .contact-item +.contact-item{
    margin-left: 30px;
}
.header-nav{
    margin-left: 93px;
}
.item-nav,
 .contact-item{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}
.item-nav{
   position: relative;
}
.line::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content:"";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;
}

.main-nav{
    display: flex;
    align-items: center;
    
}
.header-portfolio{
    border-bottom: 1px solid #ECECEC;
    
    margin-left: auto;
    margin-right: auto;
}
/*-----------------------Main----------------------------------*/

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:#2F303A;
    text-align: center;
}
.section-hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
   background-image:
   linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../images/hero-img.jpg);
    
}
.hero-title {
margin: 0 auto;
display: block;
max-width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--background-color);
}

.hero-btn {
    margin-top: var(--side-distance);
    width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 188% */
color:#FFFFFF ;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
letter-spacing: 0.06em;
border: none;
}
/*---------------особенности----------*/
.icon-box{
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    background: #F5F4FA;
border-radius: 4px;
    
}
.icon-benefits{
    margin: 0;
    padding: 0;
}
.benefits {
   padding-bottom: 0;
}

.benefits-list {
    display: flex;
    
}
.benefits-item{
max-width: 270px;
}

.benefits-item + .benefits-item {
margin-left: var(--side-distance);
}
.benefits-caption {
margin-top: 30px;
padding-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--title-text)
}
.benefits-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;
}
/*---------галерея-----------*/

.gellery-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-text)
}
.gellery-list {
    display: flex;
    justify-content: space-between;

}
.gellery-item{
    display: block;
position: relative;
}
.gellery-text{
    bottom: 0;
    position: absolute;
width: 370px;
height: 70px;
text-align: center;
padding-top: 27px;
padding-bottom: 27px;
background: rgba(47, 48, 58, 0.8);
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #ffffff;
}
/*--------------наша команда---------*/
.comand{
    background-color: #F5F4FA;

margin: 0 auto;
}
.comand-soc{
    display: flex;
    gap: 10px;
    
}
.comand-soc-icon {
  width: 20px;
    height: 20px;
    
}
.comand-soc-link{ 
    display: flex;
    justify-content: center;
    align-items: center;
       fill:  #AFB1B8;
    cursor: pointer;
   
    border-radius: 50%;
     width: 44px;
    height: 44px;
}
.comand-soc-link{
transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-soc-item :hover {
    fill: #FFFFFF;
    background-color: var(--link-buttom-color);
}
.comand-soc-item :focus{
     outline: 0;
    fill: #FFFFFF;
    background-color: var(--link-buttom-color);}

.comand-soc-icon{
transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-soc-link :hover {
    fill: #FFFFFF;
    background-color: var(--link-buttom-color);
}
.comand-soc-link :focus{
     outline: 0;
    fill: #FFFFFF;
    background-color: var(--link-buttom-color);}


.card-content{
    padding: 20px 24px;
}
.comand-card{
    text-align: center;
    padding: 30px;
    
background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.comand-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-text)
}
.comand-list {
    display: flex;
    gap: 30px;
}

.comand-name {
    margin: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--title-text)
}
.comand-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--text-secondary);
margin-bottom: 16px;
}
/*------------------- Постійні Клієнти------------------*/

.client-title {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;
}
.client-list {
    display: flex;
justify-content: center;
gap: 30px;
}

.client-icon {
 width: 106px;
 height: 60px;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
     border-radius: 4px;
     width: 170px;
    height: 92px;
    cursor: pointer;
    fill: #AFB1B8 ;
transition: border  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.client-link:hover{
      fill: var(--link-buttom-color);
    border: 1px solid var(--link-buttom-color);
}
.client-link:focus{
    fill:  #2196F3; ;
    border: 1px solid var(--link-buttom-color);
    outline: none;
}

/*-----------------------Footer---------------------------------*/
.footer-container{
    
    
    padding-left: 15px;
    padding-right: 15px;
}
.footer-box{
    display: flex;
    margin: 0auto;
    padding: 0auto;
    width: 1200px;
}
.footer{
    display: flex;
justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;
 background: #2F303A;
}
.logo-footer{
    color:var(--background-color)
}

.addres-page {
    margin-top: 20px;
font-style: normal;
 font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--background-color)
}
.addres-link{
    display: block;
    margin-top: 9px;
}

.addres-link {
 font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer{
display: flex;
}
.footer-soc {
    margin-left: 70px;
}
.footer-title{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-soc-list {
    display: flex;
    gap: 10px;
}
.footer-soc-link {
display: flex;
justify-content: center;
align-items: center;
     width: 44px;
    height: 44px;
   border-radius: 50%;
   background-color:
   rgba(255, 255, 255, 0.1);
   transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .footer-soc-link:hover,
 .footer-soc-link:focus {
   background-color: var(--link-buttom-color);
   outline: none;
}
  
.footer-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;

}
.footer-subscription{
margin-left: 93px;
}
.footer-form{
  display: flex;
  align-items: flex-end;
}
.footer-form-text {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-form-input {
    display: flex;
width: 358px;
height: 50px;
margin-top: 20px;
margin-right: 12px;
padding: 15px 16px;
background-color:transparent ;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.footer-form-icon{
    width: 24px;
    height: 24px;
    margin: 10px;
}
.footer-form-btn {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
    width: 200px;
    height: 50px;
   font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:1px solid #2196F3;
}
/*-----------------------------------------------*/
/*---------------------ПОРТФОЛИО-----------------*/
/*-----------------------------------------------*/

/*-----------------------Main----------------------------------*/
.filtr-btn:hover,
.filtr-btn:focus{
color: var(--background-color);
background-color: var(--link-buttom-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;

}

.filtr-btn{
font-family: 'Roboto', sans-serif; 
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
 padding: 6px 22px;
 background: #F5F4FA;
border-radius: 4px;
border: none;
transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:not(:first-child){
    
    margin-left: 8px;
}
/*---------------Галерея--------------------*/

.filtr-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.box-card{
    width: calc(( 100% - 60px) / 3 );
}
.card-content{
background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.portfolio-link{
    display: block;
  
}
.portfolio-tumb{
    position: relative;
    overflow: hidden;
}
.portfolio-text-hidden{
position: absolute;
top: 0;
left: 0;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
padding: 63px 24px;
height: 100%;
background-color:  rgba(33, 150, 243, 0.9); ;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-text-hidden{
    transform: translateY(0);
}
.portfolio-link:hover{
    background: #FFFFFF;
border: 1px solid #EEEEEE transparent;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16) ;
}
.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--title-text)
}
.portfolio-text {
    margin-top: 4px;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-secondary)
}
/*---------------Modalka--------------------*/
.backdrop{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width: 528px ;
height: 581px;
padding: 40px;
background-color: #ffffff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.modal-btn{
width: 30px;
height: 30px;
position: absolute;
top: 8px;
right: 8px;
border-radius: 50%;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button{
font-weight: 700;
font-size: 16px;
line-height: 1.88;
width: 200px;
height: 50px;
letter-spacing: 0.06em;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
border: #2196F3;
margin: 0 auto;

}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal-title{
    
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
color: #212121;
}
.form-box {
     
 margin-bottom: 10px;
}
.modal-input{
box-sizing: border-box;
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 42px;
 transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
}
.modal-form-input{
   position: relative;
}
.modal-icon-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top:50%;
    transform: translateY(-50%);
}
.modal-coment{
   width: 448px;
height: 120px;
left: 576px;
top: 518px;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
    resize: none;
   
}
.modal-coment::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-btn:hover{
    background-color: #fff;
    fill: var(--link-buttom-color);
}
.modal-input:focus{
    outline: 1px solid var(--link-buttom-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--link-buttom-color);
}
.check-modal{
    width: 16px;
    height: 15px;
    margin-left:12px;

}

.modal-checkbox{
    margin-bottom: 20px;
}
.check-modal{
  
}
.button-box{
    display: flex;
}
.checkbox-title{
    display: flex;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
 align-items: center;
}
.checkbox-title>span{
    background-image: url(../images/logo/icon-check-box.svg);
    width: 16px;
    height: 15px;
    display: flex;
    margin-right: 8.38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.check-icon{
    fill: transparent;
}
.check-modal:checked + .checkbox-title>span{
    background-color: var(--link-buttom-color) ;
    background-image: url(none);
    border-radius: 3px;
    
}
.check-modal:checked + .checkbox-title .check-icon{
    fill: #FFFFFF;
}
.checkbox-link{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #2196F3;
}
.modal-checkbox{
    display: flex;
    justify-content: center;
}