body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    color:var(--title-text) ;
}

:root{
    
    --background-color:#FFFFFF; ;
    --section-jobs:  #F5F5F5;
    --section-team:  #F5F4FA; ;
    --title-text: #212121 ;
    --text-secondary: #757575; 
    --link-buttom-color: #2196F3;
    --side-distance: 30px;
    --top-distance: 94px;
}

 p, h1, h2, h3, h4, h5, h6{
        margin: 0;
}
ul{
    margin: 0;
    padding: 0;
} 
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}


.container{
   margin: 0 auto;
    width: 1200px ;
    padding-left: 15px;
    padding-right: 15px;
outline: 1px solid red;
}

.section{
    display: block;
    padding-top: var(--top-distance);
    padding-bottom: var(--top-distance);
}


/*-----------------------Header--------------------------------*/

.logo-text{
color: #000000;

}
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;
color: var(--link-buttom-color)
}
.header-contact :focus{
   color: var(--link-buttom-color);
}
.header-contact :hover{
    color: var(--link-buttom-color);
}
.header-link:hover{
 color: var(--link-buttom-color);
}
.header-link:focus{
 color: var(--link-buttom-color);
}
.list{
     list-style: none;
}
.link{
    text-decoration: none;
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text)
}
.header-mail,.header-tell{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--text-secondary)
}
.header-list{
    display: flex;
}
.header-contact{
    display: flex;
    margin-left: 340px;
}
.item-nav + .item-nav, .contact-item +.contact-item{
    margin-left: var(--side-distance);
    
}
.header-nav{
    margin-left: 93px;
}
.item-nav, .contact-item{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.main-nav{
    display: flex;
    align-items: center;
}
/*-----------------------Main----------------------------------*/

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:#2F303A;
    text-align: center;
}
.hero-title {
margin: 0 auto;
display: block;
max-width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--background-color);
}

.hero-btn {
    margin-top: var(--side-distance);
    width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 188% */
color:#FFFFFF ;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
/*---------------особенности----------*/
.benefits {
   padding-bottom: 0;
}

.benefits-list {
    display: flex;
    
}
.benefits-item{
max-width: 270px;
}

.benefits-item + .benefits-item {
margin-left: var(--side-distance);
}
.benefits-caption {

padding-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--title-text)
}
.benefits-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;
}
/*---------галерея-----------*/
.gallery {
    
}
.gellery-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-text)
}
.gellery-list {
    display: flex;
    justify-content: space-between;

}
.gellery-item{
}
/*--------------наша команда---------*/
.comand{
    
}
.card-content{
    padding: 20px 24px;
}
.comand-card{
    text-align: center;
    padding: 30px;
}
.comand-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-text)
}
.comand-list {
    display: flex;
    gap: 30px;
}
.comand-item {

}
.comand-name {
    margin: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--title-text)
}
.comand-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--text-secondary)
}

/*-----------------------Footer---------------------------------*/
.footer{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 50px;
 background: #2F303A;
}
.logo-footer{
    color:var(--background-color)
}
.addres {

}
.addres-page {
    margin-top: 20px;
font-style: normal;
 font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--background-color)
}
.addres-link{
    display: block;
    margin-top: 9px;
}

.addres-link {
 font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}


/*-----------------------------------------------*/
/*---------------------ПОРТФОЛИО-----------------*/
/*-----------------------------------------------*/

/*-----------------------Main----------------------------------*/

.head{
 box-shadow:0 1px #ECECEC; ;
}
.filtr-btn:focus{
color: var(--background-color);
background-color: var(--link-buttom-color);
}
.filtr-btn:hover{
color: var(--background-color);
background-color: var(--link-buttom-color);
}
.filtr-btn{
font-family: 'Roboto', sans-serif; 
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
 padding: 6px 22px;
}
.btn:not(:first-child){
    margin-left: 8px;
}
/*---------------Галерея--------------------*/
.portfolio-box{
    
}
.filtr-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.box-card{
    width: calc(( 100% - 60px) / 3 );
}
.card-content{
background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--title-text)
}
.portfolio-text {
    margin-top: 4px;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-secondary)
}
