.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.box-card {
  width: calc((100% - 60px) / 3);
}
.card-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.portfolio-link {
  display: block;
  &:hover,
  &:focus {
    background: #ffffff;
    border: 1px solid #eeeeee transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-tumb {
  position: relative;
  overflow: hidden;
}
.portfolio-text-hidden {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-text-hidden {
  transform: translateY(0);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text);
}
.portfolio-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}
