.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-container {
  flex-grow: 1;
}
.logo-footer {
  color: var(--background-color);
}
.addres-page {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.addres-link {
  display: block;
  margin-top: 9px;
}
.addres-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-soc {
  margin-left: 70px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
  gap: 10px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--link-buttom-color);
    outline: none;
  }
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-subscription {
  margin-left: 93px;
}
.footer-form {
  display: flex;
  align-items: flex-end;
}
.footer-form-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-icon {
  width: 24px;
  height: 24px;
  margin: 10px;
}
.footer-form-btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
}
