@media screen and (max-width: 1199px ){
.section__gallery{
     position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
}
@media screen and (min-width: 1200px )
{ 
   

.gellery__title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;

color: var(--title-text)
}
.gellery__list {
display: flex;
justify-content: space-between;
}
.gellery__item{
 display: block;
position: relative;
}
.gellery__text{
 bottom: 0;
 position: absolute;
width: 370px;
height: 70px;
text-align: center;
padding-top: 27px;
padding-bottom: 27px;
background: rgba(47, 48, 58, 0.8);
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #ffffff;
}
}
.section__gallery{
  padding-top: 0;
  padding-bottom: 0;
}